.counter-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-title {
  font-size: 5rem;
  color: rgb(38 38 38);
}

.counter-number {
  font-weight: 700;
  font-size: 7rem;
  color: rgb(7 89 133);
}

.counter-buttonsContainer {
  display: flex;
  gap: 10px;
}

.counter-button {
  width: 4rem;
  font-size: 3rem;
  text-align: center;
  border: none;
  background-color: rgb(55 65 81);
  border-radius: 4px;
  transition: all 0.6s ease;
  cursor: pointer;
}

.counter-button:hover {
  background-color: rgb(31 41 55);
}

.counter-icons {
  width: 30px;
  height: 30px;
  background-color: transparent;
}
